Latex template
correctz2.sfit
correctz3.sfit
correctz4.sfit
createz1.m
createz2.m
createz3.m
createz4.m
dataz3.mlx
dataz4.mlx
simulation.mlx
z1contour.jpg
z2contour.jpg
z3contour.jpg
z4contour.jpg
z1fit.jpg
z2fit.jpg
z3fit.jpg
z1unfit.jpg
z2unfit.jpg
z3unfit.jpg
z4unfit.jpg